/*body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
}*/
body {    
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(242,242,242);
    color: rgb(55,55,55);
}
h6 {
    margin: 5px;
}
.outer {
    width: 100%
}
.inner {
    padding: 5px;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
}
#header_wrap {
    color: #f0f0f0;
    background: rgb(33,33,33);
}
#container {
    height: 100%
}
#map {
    width: 550px;
    height: 550px;
    float: right;
    padding: 5px;
}
#taglist {
  float: left;
  width: 250px;
}
text {
    font-family: sans-serif;
    font-size: 11px;
    text-anchor: end;
}
text:hover {
    text-decoration: underline;
}
rect:hover {
    opacity: 0.5;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
#gh_repository {
  display: block;
  position: absolute;
  top:30px;
  right:30px;
  vertical-align: baseline;
}

#gh_img {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  background: none;
}
